<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/jdbc
           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<context:component-scan base-package="com.pj.hrapp" />
	
	<tx:annotation-driven />
	
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="dataSource" ref="dataSource" />
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="persistenceUnitName" value="jpaData" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!-- 
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">false</prop>
                -->
            </props>
        </property>
    </bean>
    
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
		    <list>
		        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
		    </list>
		</property>
	</bean>
    
    <bean id="namedParameterJbdcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
    	<constructor-arg ref="dataSource" />
    </bean>
    
    <beans profile="test">
		<jdbc:embedded-database id="dataSource" type="H2" />
    </beans>
    
    <beans profile="default">
		<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
			<property name="driverClassName" value="org.h2.Driver" />
			<property name="url" value="jdbc:h2:~/hrapp;AUTO_SERVER=TRUE" />
			<property name="username" value="root" />
			<property name="password" value="root" />
		</bean>
		<bean id="employeeAttendanceDialog" class="com.pj.hrapp.dialog.EmployeeAttendanceDialog" />
		<bean id="payslipAdjustmentDialog" class="com.pj.hrapp.dialog.PayslipAdjustmentDialog" />
		<bean id="addValeProductDialog" class="com.pj.hrapp.dialog.AddValeProductDialog" />
		<bean id="addPayslipDialog" class="com.pj.hrapp.dialog.AddPayslipDialog" />
    </beans>
    
</beans>